In [1]:
import os
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import matplotlib.pyplot as plt

# Gender Distribution

In [2]:
# Define the folder path
folder_path = '/Users/twylazhang/Desktop/Directed Research/gender distribution/Full-Time, Year-Round Workers & Median Earnings by Sex & Occupation'

# Define column names for files with and without MOE3 columns
estimate_only_columns = [
    'Occupational Category',
    'Total_FullTime_Workers_Estimate',
    'Men_FullTime_Workers',
    'Women_FullTime_Workers',
    'Women_Percentage_in_Group_Estimate',
    'Total_Median_Earnings_Estimate',
    'Men_Median_Earnings_Estimate',
    'Women_Median_Earnings_Estimate',
    'Women_Earnings_as_Percentage_of_Men_Estimate',
]

full_columns = [
    'Occupational Category',
    'Total_FullTime_Workers_Estimate',
    'Total_FullTime_Workers_MOE3',
    'Men_FullTime_Workers',
    'Men_FullTime_Workers_MOE3',
    'Women_FullTime_Workers',
    'Women_FullTime_Workers_MOE3',
    'Women_Percentage_in_Group_Estimate',
    'Women_Percentage_in_Group_MOE3',
    'Total_Median_Earnings_Estimate',
    'Total_Median_Earnings_MOE3',
    'Men_Median_Earnings_Estimate',
    'Men_Median_Earnings_MOE3',
    'Women_Median_Earnings_Estimate',
    'Women_Median_Earnings_MOE3',
    'Women_Earnings_as_Percentage_of_Men_Estimate',
    'Women_Earnings_as_Percentage_of_Men_MOE3'
]

# Initialize an empty list to store DataFrames
dataframes = []

# Loop through all files in the folder
for file in os.listdir(folder_path):
    if file.endswith('.xlsx') and not file.startswith('~$'):
        file_path = os.path.join(folder_path, file)
        
        try:
            # Extract the year from the filename
            year = ''.join(filter(str.isdigit, file))
            
            # Load each Excel file into a DataFrame, skipping the first seven rows
            df = pd.read_excel(file_path, skiprows=7, engine='openpyxl')
            
            # Check the number of columns and assign appropriate column names
            if len(df.columns) == len(estimate_only_columns):
                df.columns = estimate_only_columns
            else:
                df.columns = full_columns
            
            # Add the year column to the DataFrame
            df['Year'] = year
            
            # Append the DataFrame to the list
            dataframes.append(df)
        except Exception as e:
            print(f"Error loading {file}: {e}")

# Combine all DataFrames into a single DataFrame and remove the last 5 rows
if dataframes:
    combined_df = pd.concat(dataframes, ignore_index=True)
    
    # Remove the last 12 rows
    combined_df = combined_df.iloc[:-12]
    
    print("Combined DataFrame with Renamed Columns, Year, and Last 5 Rows Removed:")
    print(combined_df)
else:
    print("No valid files were loaded.")

Combined DataFrame with Renamed Columns, Year, and Last 5 Rows Removed:
                                  Occupational Category  \
0                                                 Total
1     Management, Business, Science, and Arts Occupa...
2      Management, Business, and Financial Occupations:
3                               Management Occupations:
4                                      Chief executives
...                                                 ...
5694  Transportation attendants, except flight atten...
5695                       Other transportation workers
5696                        Material Moving Occupations
5697                     Conveyor operators and tenders
5698                          Crane and tower operators

      Total_FullTime_Workers_Estimate  Total_FullTime_Workers_MOE3  \
0                           113904639                     125724.0
1                            49569176                     169245.0
2                            21998717                      92539.0
3                            14867734                      72493.0
4                             1268017                      20322.0
...                               ...                          ...
5694                            16231                       2038.0
5695                            21836                       3218.0
5696                          2734108                      31164.0
5697                             4446                       1176.0
5698                            50453                       4329.0

      Men_FullTime_Workers  Men_FullTime_Workers_MOE3  Women_FullTime_Workers  \
0                 64356313                    83087.0                49548326
1                 24972005                   101347.0                24597171
2                 12218349                    57032.0                 9780368
3                  8900617                    48751.0                 5967117
4                   932743                    16035.0                  335274
...                    ...                        ...                     ...
5694                  7588                     1638.0                    8643
5695                 19962                     2942.0                    1874
5696               2204058                    27068.0                  530050
5697                  3363                     1103.0                    1083
5698                 49345                     4243.0                    1108

      Women_FullTime_Workers_MOE3  Women_Percentage_in_Group_Estimate  \
0                         95377.0                                43.5
1                         89023.0                                49.6
2                         52738.0                                44.5
3                         39262.0                                40.1
4                         10531.0                                26.4
...                           ...                                 ...
5694                       1461.0                                53.2
5695                        788.0                                 8.6
5696                      12220.0                                19.4
5697                        682.0                                24.4
5698                        640.0                                 2.2

      Women_Percentage_in_Group_MOE3 Total_Median_Earnings_Estimate  \
0                                0.1                          50078
1                                0.1                          69998
2                                0.1                          75389
3                                0.2                          78315
4                                0.7                         150513
...                              ...                            ...
5694                             6.0                          27324
5695                             3.4                          41018
5696                             0.4                          30841
5697                            13.9                          33777
5698                             1.3                          53853

     Total_Median_Earnings_MOE3 Men_Median_Earnings_Estimate  \
0                            54                        53544
1                           196                        81524
2                           177                        85162
3                           684                        87792
4                           442                       157133
...                         ...                          ...
5694                       2845                        30883
5695                       2166                        40568
5696                        132                        31790
5697                       4421                        36328
5698                       3631                        54405

     Men_Median_Earnings_MOE3 Women_Median_Earnings_Estimate  \
0                         209                          43394
1                         133                          60523
2                         309                          65379
3                         963                          66767
4                        3570                         120635
...                       ...                            ...
5694                     3131                          24992
5695                     2498                          48071
5696                      148                          25935
5697                     5565                          19295
5698                     3489                          41042

     Women_Median_Earnings_MOE3 Women_Earnings_as_Percentage_of_Men_Estimate  \
0                           181                                           81
1                           100                                         74.2
2                           211                                         76.8
3                           289                                         76.1
4                          1413                                         76.8
...                         ...                                          ...
5694                       2644                                          (X)
5695                      11546                                          (X)
5696                        263                                         81.6
5697                       1918                                          (X)
5698                      13544                                          (X)

     Women_Earnings_as_Percentage_of_Men_MOE3  Year
0                                         0.4  2019
1                                         0.1  2019
2                                         0.3  2019
3                                         0.8  2019
4                                           2  2019
...                                       ...   ...
5694                                      (X)  2017
5695                                      (X)  2017
5696                                      0.9  2017
5697                                      (X)  2017
5698                                      (X)  2017

[5699 rows x 18 columns]

In [3]:
combined_df

,Occupational Category,Total_FullTime_Workers_Estimate,Total_FullTime_Workers_MOE3,Men_FullTime_Workers,Men_FullTime_Workers_MOE3,Women_FullTime_Workers,Women_FullTime_Workers_MOE3,Women_Percentage_in_Group_Estimate,Women_Percentage_in_Group_MOE3,Total_Median_Earnings_Estimate,Total_Median_Earnings_MOE3,Men_Median_Earnings_Estimate,Men_Median_Earnings_MOE3,Women_Median_Earnings_Estimate,Women_Median_Earnings_MOE3,Women_Earnings_as_Percentage_of_Men_Estimate,Women_Earnings_as_Percentage_of_Men_MOE3,Year
0,Total,113904639,125724.0,64356313,83087.0,49548326,95377.0,43.5,0.1,50078,54,53544,209,43394,181,81,0.4,2019
1,"Management, Business, Science, and Arts Occupa...",49569176,169245.0,24972005,101347.0,24597171,89023.0,49.6,0.1,69998,196,81524,133,60523,100,74.2,0.1,2019
2,"Management, Business, and Financial Occupations:",21998717,92539.0,12218349,57032.0,9780368,52738.0,44.5,0.1,75389,177,85162,309,65379,211,76.8,0.3,2019
3,Management Occupations:,14867734,72493.0,8900617,48751.0,5967117,39262.0,40.1,0.2,78315,684,87792,963,66767,289,76.1,0.8,2019
4,Chief executives,1268017,20322.0,932743,16035.0,335274,10531.0,26.4,0.7,150513,442,157133,3570,120635,1413,76.8,2,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5694,"Transportation attendants, except flight atten...",16231,2038.0,7588,1638.0,8643,1461.0,53.2,6.0,27324,2845,30883,3131,24992,2644,(X),(X),2017
5695,Other transportation workers,21836,3218.0,19962,2942.0,1874,788.0,8.6,3.4,41018,2166,40568,2498,48071,11546,(X),(X),2017
5696,Material Moving Occupations,2734108,31164.0,2204058,27068.0,530050,12220.0,19.4,0.4,30841,132,31790,148,25935,263,81.6,0.9,2017
5697,Conveyor operators and tenders,4446,1176.0,3363,1103.0,1083,682.0,24.4,13.9,33777,4421,36328,5565,19295,1918,(X),(X),2017
5698,Crane and tower operators,50453,4329.0,49345,4243.0,1108,640.0,2.2,1.3,53853,3631,54405,3489,41042,13544,(X),(X),2017

clean the occupation names

In [4]:
# Retain only alphabetic characters in the 'Occupational Category' column
combined_df['Occupational Category'] = combined_df['Occupational Category'].str.replace(r'[^a-zA-Z\s]', '', regex=True)

# Display the cleaned DataFrame
print("DataFrame after cleaning 'Occupational Category' column:")
print(combined_df.head())

DataFrame after cleaning 'Occupational Category' column:
                              Occupational Category  \
0                                             Total
1  Management Business Science and Arts Occupations
2     Management Business and Financial Occupations
3                            Management Occupations
4                                  Chief executives

   Total_FullTime_Workers_Estimate  Total_FullTime_Workers_MOE3  \
0                        113904639                     125724.0
1                         49569176                     169245.0
2                         21998717                      92539.0
3                         14867734                      72493.0
4                          1268017                      20322.0

   Men_FullTime_Workers  Men_FullTime_Workers_MOE3  Women_FullTime_Workers  \
0              64356313                    83087.0                49548326
1              24972005                   101347.0                24597171
2              12218349                    57032.0                 9780368
3               8900617                    48751.0                 5967117
4                932743                    16035.0                  335274

   Women_FullTime_Workers_MOE3  Women_Percentage_in_Group_Estimate  \
0                      95377.0                                43.5
1                      89023.0                                49.6
2                      52738.0                                44.5
3                      39262.0                                40.1
4                      10531.0                                26.4

   Women_Percentage_in_Group_MOE3 Total_Median_Earnings_Estimate  \
0                             0.1                          50078
1                             0.1                          69998
2                             0.1                          75389
3                             0.2                          78315
4                             0.7                         150513

  Total_Median_Earnings_MOE3 Men_Median_Earnings_Estimate  \
0                         54                        53544
1                        196                        81524
2                        177                        85162
3                        684                        87792
4                        442                       157133

  Men_Median_Earnings_MOE3 Women_Median_Earnings_Estimate  \
0                      209                          43394
1                      133                          60523
2                      309                          65379
3                      963                          66767
4                     3570                         120635

  Women_Median_Earnings_MOE3 Women_Earnings_as_Percentage_of_Men_Estimate  \
0                        181                                           81
1                        100                                         74.2
2                        211                                         76.8
3                        289                                         76.1
4                       1413                                         76.8

  Women_Earnings_as_Percentage_of_Men_MOE3  Year
0                                      0.4  2019
1                                      0.1  2019
2                                      0.3  2019
3                                      0.8  2019
4                                        2  2019

unique occupations

In [5]:
combined_df.to_csv("/Users/twylazhang/Desktop/Directed Research/gender distribution/combined.csv")

exlude those rows, because they are represent genres of occupations, not specific occupations
- 5699 - 347 = 5352

### Match the crosswalk with combined_df based on occupation to assign the 2018 SOC Code to combined_df

In [10]:
# Filter combined_df to include only rows where Year is "2022"
combined_df_2022 = combined_df[combined_df['Year'] == "2022"]

# Load the SOC structure file with dtype specified for 'Occupation Code' to prevent date conversion
soc_structure_path = '/Users/twylazhang/Desktop/Directed Research/gender distribution/SOC data/soc_structure_2018_BLS.xlsx'
soc_structure_BLS_df = pd.read_excel(soc_structure_path, dtype={'Occupation Code': str})

# Create a function to standardize occupation names
def standardize_name(name):
    if pd.isna(name):
        return name
    # Convert to lowercase and remove extra spaces
    name = str(name).lower().strip()
    # Standardize common variations
    name = name.replace(' and ', ' & ')
    return name

# Apply standardization to both dataframes
soc_structure_BLS_df['standardized_name'] = soc_structure_BLS_df['Occupation Name'].apply(standardize_name)
combined_df_2022['standardized_name'] = combined_df_2022['Occupational Category'].apply(standardize_name)

# Merge the dataframes based on the standardized names
gender_w_code = pd.merge(
    combined_df_2022,
    soc_structure_BLS_df,
    on='standardized_name',
    how='outer',
    indicator=True
)

# Filter to keep only matched rows and remove helper columns
gender_w_code_2022 = gender_w_code[gender_w_code['_merge'] == 'both'].drop(['standardized_name', '_merge'], axis=1)

# Optional: Save the merged dataset
# gender_w_code_2022.to_csv('/Users/twylazhang/Desktop/Directed Research/gender distribution/output/gender_w_code_2022.csv', index=False)

# Display a sample of the final merged data
print(gender_w_code_2022.head())

             Occupational Category  Total_FullTime_Workers_Estimate  \
3           Management Occupations                       16424183.0
4                 Chief executives                        1426995.0
5                 Chief executives                        1426995.0
6  General and operations managers                        1176602.0
7  General and operations managers                        1176602.0

   Total_FullTime_Workers_MOE3  Men_FullTime_Workers  \
3                      79054.0             9650086.0
4                      21715.0             1019568.0
5                      21715.0             1019568.0
6                      19775.0              776480.0
7                      19775.0              776480.0

   Men_FullTime_Workers_MOE3  Women_FullTime_Workers  \
3                    57985.0               6774097.0
4                    20327.0                407427.0
5                    20327.0                407427.0
6                    15022.0                400122.0
7                    15022.0                400122.0

   Women_FullTime_Workers_MOE3  Women_Percentage_in_Group_Estimate  \
3                      45952.0                                41.2
4                       9935.0                                28.6
5                       9935.0                                28.6
6                      10573.0                                34.0
7                      10573.0                                34.0

   Women_Percentage_in_Group_MOE3 Total_Median_Earnings_Estimate  ...  \
3                             0.2                          87620  ...
4                             0.7                         159808  ...
5                             0.7                         159808  ...
6                             0.7                          81426  ...
7                             0.7                          81426  ...

  Women_Median_Earnings_Estimate Women_Median_Earnings_MOE3  \
3                          76066                        376
4                         136126                       2804
5                         136126                       2804
6                          71358                        837
7                          71358                        837

  Women_Earnings_as_Percentage_of_Men_Estimate  \
3                                         76.7
4                                         77.8
5                                         77.8
6                                         80.9
7                                         80.9

  Women_Earnings_as_Percentage_of_Men_MOE3  Year Major Group Minor Group  \
3                                      0.8  2022     11-0000         NaN
4                                      2.2  2022         NaN         NaN
5                                      2.2  2022         NaN         NaN
6                                        2  2022         NaN         NaN
7                                        2  2022         NaN         NaN

  Broad Group Detailed Occupation                  Occupation Name
3         NaN                 NaN           Management Occupations
4     11-1010                 NaN                 Chief Executives
5         NaN             11-1011                 Chief Executives
6     11-1020                 NaN  General and Operations Managers
7         NaN             11-1021  General and Operations Managers

[5 rows x 23 columns]

/var/folders/cj/742s04b178ld3v0xjpn8xzt80000gn/T/ipykernel_39708/3326986385.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_df_2022['standardized_name'] = combined_df_2022['Occupational Category'].apply(standardize_name)

In [11]:
gender_w_code_2022

,Occupational Category,Total_FullTime_Workers_Estimate,Total_FullTime_Workers_MOE3,Men_FullTime_Workers,Men_FullTime_Workers_MOE3,Women_FullTime_Workers,Women_FullTime_Workers_MOE3,Women_Percentage_in_Group_Estimate,Women_Percentage_in_Group_MOE3,Total_Median_Earnings_Estimate,...,Women_Median_Earnings_Estimate,Women_Median_Earnings_MOE3,Women_Earnings_as_Percentage_of_Men_Estimate,Women_Earnings_as_Percentage_of_Men_MOE3,Year,Major Group,Minor Group,Broad Group,Detailed Occupation,Occupation Name
3,Management Occupations,16424183.0,79054.0,9650086.0,57985.0,6774097.0,45952.0,41.2,0.2,87620,...,76066,376,76.7,0.8,2022,11-0000,NaN,NaN,NaN,Management Occupations
4,Chief executives,1426995.0,21715.0,1019568.0,20327.0,407427.0,9935.0,28.6,0.7,159808,...,136126,2804,77.8,2.2,2022,NaN,NaN,11-1010,NaN,Chief Executives
5,Chief executives,1426995.0,21715.0,1019568.0,20327.0,407427.0,9935.0,28.6,0.7,159808,...,136126,2804,77.8,2.2,2022,NaN,NaN,NaN,11-1011,Chief Executives
6,General and operations managers,1176602.0,19775.0,776480.0,15022.0,400122.0,10573.0,34.0,0.7,81426,...,71358,837,80.9,2,2022,NaN,NaN,11-1020,NaN,General and Operations Managers
7,General and operations managers,1176602.0,19775.0,776480.0,15022.0,400122.0,10573.0,34.0,0.7,81426,...,71358,837,80.9,2,2022,NaN,NaN,NaN,11-1021,General and Operations Managers
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
768,Machine feeders and offbearers,19451.0,2926.0,10475.0,1996.0,8976.0,1851.0,46.1,6.4,37658,...,32088,3436,75,11.5,2022,NaN,NaN,NaN,53-7063,Machine Feeders and Offbearers
770,Stockers and order fillers,996750.0,18700.0,646932.0,15126.0,349818.0,11033.0,35.1,0.9,32973,...,32106,335,95.5,1.6,2022,NaN,NaN,NaN,53-7065,Stockers and Order Fillers
771,Pumping station operators,19572.0,2194.0,19045.0,2160.0,527.0,387.0,2.7,1.9,68785,...,61796,25909,(X),(X),2022,NaN,NaN,53-7070,NaN,Pumping Station Operators
772,Refuse and recyclable material collectors,70278.0,4850.0,63055.0,4351.0,7223.0,1759.0,10.3,2.3,40217,...,28104,3291,(X),(X),2022,NaN,NaN,53-7080,NaN,Refuse and Recyclable Material Collectors
773,Refuse and recyclable material collectors,70278.0,4850.0,63055.0,4351.0,7223.0,1759.0,10.3,2.3,40217,...,28104,3291,(X),(X),2022,NaN,NaN,NaN,53-7081,Refuse and Recyclable Material Collectors

In [8]:
#matched_df.to_csv("/Users/twylazhang/Desktop/Directed Research/gender distribution/matched_BLS_2018.csv")

In [9]:
lmlkmlkk

NameError: name 'lmlkmlkk' is not defined

# Occupaiton Exposure Score

In [ ]:
# Define the file path
file_path_score = '/Users/twylazhang/Desktop/Directed Research/code_output/6_calculate/occupation_exposure_scores.xlsx'

# Load the Excel file into a DataFrame
occupation_exposure_scores_df = pd.read_excel(file_path_score)

# Display the first few rows of the DataFrame to confirm the import
print("Occupation Exposure Scores DataFrame:")
occupation_exposure_scores_df

### compare occupation columns of occupation_exposure_scores_df and combined df 
- there are no columns in common

In [ ]:
# Ensure the column names are correct
occupation_exposure_scores_occupations = occupation_exposure_scores_df['Occupation Name'].unique()
filtered_combined_df_occupations = filtered_combined_df['Occupational Category'].unique()

# Find occupations present in one DataFrame but not the other
only_in_exposure_scores = set(occupation_exposure_scores_occupations) - set(filtered_combined_df_occupations)
only_in_combined = set(filtered_combined_df_occupations) - set(occupation_exposure_scores_occupations)

# Display results
print("Occupations only in occupation_exposure_scores_df:")
print(only_in_exposure_scores)

print("\nOccupations only in combined_df:")
print(only_in_combined)

In [ ]:
# Extract occupation columns as lists
filtered_combined_df_occupations = filtered_combined_df['Occupational Category'].tolist()
exposure_scores_occupations = occupation_exposure_scores_df['Occupation Name'].tolist()

# Use TfidfVectorizer to transform occupation names into vectors
vectorizer = TfidfVectorizer().fit(filtered_combined_df_occupations + exposure_scores_occupations)
combined_vectors = vectorizer.transform(filtered_combined_df_occupations)
exposure_scores_vectors = vectorizer.transform(exposure_scores_occupations)

# Compute cosine similarity between each occupation in combined_df and each occupation in occupation_exposure_scores_df
similarity_matrix = cosine_similarity(combined_vectors, exposure_scores_vectors)

# Find the best match for each occupation in combined_df, keeping only scores above 0.3
matches = []
for i, combined_occ in enumerate(filtered_combined_df_occupations):
    # Get the index of the highest similarity score
    best_match_index = similarity_matrix[i].argmax()
    best_match_score = similarity_matrix[i][best_match_index]
    best_match_occ = exposure_scores_occupations[best_match_index]
    
    # Append the results only if the similarity score is greater than 0.3
    if best_match_score > 0.3:
        matches.append((combined_occ, best_match_occ, best_match_score))

# Convert matches to a DataFrame for easier viewing
matches_df = pd.DataFrame(matches, columns=['Combined Occupation', 'Best Match in Exposure Scores', 'Similarity Score'])

# Display the matches with similarity scores greater than 0.3
print("Occupation matches based on cosine similarity (Score > 0.3):")
print(matches_df.sort_values(by='Similarity Score', ascending=False).head(10))

In [ ]:
matches_df

In [ ]:
matches_df.to_csv("/Users/twylazhang/Desktop/Directed Research/gender distribution/matches_df.csv")

In [ ]:
matches_df[matches_df['Similarity Score'] < 0.5].to_csv("/Users/twylazhang/Desktop/Directed Research/gender distribution/below_0.5.csv")

# Match

In [ ]:
filtered_combined_df[filtered_combined_df['Year'] == "2022"]

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Filter to keep only rows from the year 2022 in filtered_combined_df
filtered_combined_df_2022 = filtered_combined_df[filtered_combined_df['Year'] == "2022"].reset_index(drop=True)

# Extract occupation columns as lists from the filtered data
combined_occupations = filtered_combined_df_2022['Occupational Category'].tolist()
exposure_scores_occupations = occupation_exposure_scores_df['Occupation Name'].tolist()

# Use TfidfVectorizer to transform occupation names into vectors
vectorizer = TfidfVectorizer().fit(combined_occupations + exposure_scores_occupations)
combined_vectors = vectorizer.transform(combined_occupations)
exposure_scores_vectors = vectorizer.transform(exposure_scores_occupations)

# Compute cosine similarity between each occupation in occupation_exposure_scores_df and each occupation in filtered_combined_df_2022
similarity_matrix = cosine_similarity(exposure_scores_vectors, combined_vectors)

# Iterate over each occupation in occupation_exposure_scores_df
for j, exposure_occ in enumerate(exposure_scores_occupations):
    # Get the index of the highest similarity score for each occupation in exposure_scores_occupations
    best_match_index = similarity_matrix[j].argmax()
    best_match_score = similarity_matrix[j][best_match_index]
    
    # Find the best match occupation name in combined_occupations
    best_match_occ = combined_occupations[best_match_index]
        
    # Retrieve the corresponding fields from filtered_combined_df_2022
    women_percentage_estimate = filtered_combined_df_2022.loc[best_match_index, 'Women_Percentage_in_Group_Estimate']
    women_percentage_moe3 = filtered_combined_df_2022.loc[best_match_index, 'Women_Percentage_in_Group_MOE3']
    women_earnings_percent_of_men = filtered_combined_df_2022.loc[best_match_index, 'Women_Earnings_as_Percentage_of_Men_Estimate']
    women_median_earnings = filtered_combined_df_2022.loc[best_match_index, 'Women_Median_Earnings_Estimate']
    
    # Assign values to the corresponding row in occupation_exposure_scores_df
    occupation_exposure_scores_df.loc[j, 'Occupational Category'] = best_match_occ
    occupation_exposure_scores_df.loc[j, 'Women_Percentage_in_Group_Estimate'] = women_percentage_estimate
    occupation_exposure_scores_df.loc[j, 'Women_Percentage_in_Group_MOE3'] = women_percentage_moe3
    occupation_exposure_scores_df.loc[j, 'Women_Earnings_as_Percentage_of_Men_Estimate'] = women_earnings_percent_of_men
    occupation_exposure_scores_df.loc[j, 'Women_Median_Earnings_Estimate'] = women_median_earnings
    occupation_exposure_scores_df.loc[j, 'Similarity Score'] = best_match_score

# Display the updated occupation_exposure_scores_df
print("Updated occupation_exposure_scores_df with assigned categories, women percentages, earnings estimates, and similarity scores:")
occupation_exposure_scores_df

In [ ]:
occupation_exposure_scores_df

In [ ]:
# Check for unmatched rows in occupation_exposure_scores_df
unmatched_count = occupation_exposure_scores_df['Occupational Category'].isna().sum()

print(f"Number of occupations in occupation_exposure_scores_df that were not matched: {unmatched_count}")

In [ ]:
occupation_exposure_scores_df.to_csv("/Users/twylazhang/Desktop/Directed Research/gender distribution/occupation_exposure_scores_df_matched.csv")

In [ ]:
# # Reset the index of filtered_combined_df to ensure a continuous index starting from 0
# filtered_combined_df = filtered_combined_df.reset_index(drop=True)

# # Extract occupation columns as lists
# combined_occupations = filtered_combined_df['Occupational Category'].tolist()
# exposure_scores_occupations = occupation_exposure_scores_df['Occupation Name'].tolist()

# # Use TfidfVectorizer to transform occupation names into vectors
# vectorizer = TfidfVectorizer().fit(combined_occupations + exposure_scores_occupations)
# combined_vectors = vectorizer.transform(combined_occupations)
# exposure_scores_vectors = vectorizer.transform(exposure_scores_occupations)

# # Compute cosine similarity between each occupation in combined_df and each occupation in occupation_exposure_scores_df
# similarity_matrix = cosine_similarity(combined_vectors, exposure_scores_vectors)

# # Iterate over each occupation in combined_df
# for i, combined_occ in enumerate(combined_occupations):
#     # Get the index of the highest similarity score for each occupation
#     best_match_index = similarity_matrix[i].argmax()
#     best_match_score = similarity_matrix[i][best_match_index]

#     # Check if the best match score is greater than 0.5
#     if best_match_score > 0.5:
#         best_match_occ = exposure_scores_occupations[best_match_index]
        
#         # Retrieve the row from filtered_combined_df and corresponding fields
#         women_percentage_estimate = filtered_combined_df.loc[i, 'Women_Percentage_in_Group_Estimate']
#         women_percentage_moe3 = filtered_combined_df.loc[i, 'Women_Percentage_in_Group_MOE3']
        
#         # Assign values to the corresponding row in occupation_exposure_scores_df
#         occupation_exposure_scores_df.loc[occupation_exposure_scores_df['Occupation Name'] == best_match_occ, 'Occupational Category'] = combined_occ
#         occupation_exposure_scores_df.loc[occupation_exposure_scores_df['Occupation Name'] == best_match_occ, 'Women_Percentage_in_Group_Estimate'] = women_percentage_estimate
#         occupation_exposure_scores_df.loc[occupation_exposure_scores_df['Occupation Name'] == best_match_occ, 'Women_Percentage_in_Group_MOE3'] = women_percentage_moe3
#         occupation_exposure_scores_df.loc[occupation_exposure_scores_df['Occupation Name'] == best_match_occ, 'Similarity Score'] = best_match_score

# # Display the updated occupation_exposure_scores_df
# print("Updated occupation_exposure_scores_df with assigned categories, women percentages, and similarity scores:")
# print(occupation_exposure_scores_df.head())

In [ ]:
# occupation_exposure_scores_df

- What columns are not matched in combined_df?

In [ ]:
# # Get the list of matched occupations from 'Occupational Category' in occupation_exposure_scores_df
# matched_occupations = occupation_exposure_scores_df['Occupational Category'].dropna().unique()

# # Filter filtered_combined_df to exclude occupations that are already matched in occupation_exposure_scores_df
# not_matched_filtered_combined_df = filtered_combined_df[~filtered_combined_df['Occupational Category'].isin(matched_occupations)]

# # Display the result
# print("Filtered filtered_combined_df with unmatched occupations only:")
# not_matched_filtered_combined_df

In [ ]:
# not_matched_filtered_combined_df[not_matched_filtered_combined_df['Women_Percentage_in_Group_Estimate'] > 40]['Occupational Category'].unique()

find the best match for occupations in not_matched_filtered_combined_df from occupation_exposure_df and then use that best match to put columns of Occupational Category	Women_Percentage_in_Group_Estimate	Women_Percentage_in_Group_MOE3 from not_matched_filtered_combined_df to the corresponding rows in occupation_exposure_df

In [ ]:
occupation_exposure_scores_df[occupation_exposure_scores_df['Similarity Score'] > 0.8]

In [ ]:
# Filter the DataFrame based on the threshold for 'Similarity Score'
occupation_exposure_scores_df = occupation_exposure_scores_df[occupation_exposure_scores_df['Similarity Score'] > 0.8].copy()

# Calculate "Exposure Score * 100" for better visualization
occupation_exposure_scores_df['Exposure Score * 100'] = occupation_exposure_scores_df['Exposure Score'] * 100

# Plotting the correlation analysis scatter plot
plt.figure(figsize=(10, 6))
plt.scatter(occupation_exposure_scores_df['Exposure Score * 100'], occupation_exposure_scores_df['Women_Percentage_in_Group_Estimate'], alpha=0.7)
plt.xlabel('Exposure Score * 100')
plt.ylabel('Women Percentage in Group Estimate')
plt.title('Correlation Analysis between Exposure Score * 100 and Women Percentage in Group Estimate')
plt.grid(True)
plt.show()

# Analysis

- women percentage
- exposure score
- women median earning
- women earning percetange as men
- https://www.bls.gov/cps/cpsaat11.htm

In [ ]:
import statsmodels.api as sm

# Define the independent (X) and dependent (y) variables
X = occupation_exposure_scores_df['Exposure Score * 100']
y = occupation_exposure_scores_df['Women_Percentage_in_Group_Estimate']

# Add a constant to the independent variable to include an intercept in the model
X = sm.add_constant(X)

# Fit the regression model
model = sm.OLS(y, X).fit()

# Print the summary of the regression analysis
print(model.summary())

In [ ]:
# Ensure all relevant columns are numeric, coercing errors to NaN
occupation_exposure_scores_df[['Exposure Score * 100', 'Women_Percentage_in_Group_Estimate', 'Women_Earnings_as_Percentage_of_Men_Estimate']] = \
    occupation_exposure_scores_df[['Exposure Score * 100', 'Women_Percentage_in_Group_Estimate', 'Women_Earnings_as_Percentage_of_Men_Estimate']].apply(pd.to_numeric, errors='coerce')

# Drop rows with any NaN values in the selected columns
occupation_exposure_scores_df.dropna(subset=['Exposure Score * 100', 'Women_Percentage_in_Group_Estimate', 'Women_Earnings_as_Percentage_of_Men_Estimate'], inplace=True)

# Define the independent (X) and dependent (y) variables
X = occupation_exposure_scores_df[['Exposure Score * 100', 'Women_Percentage_in_Group_Estimate']]
y = occupation_exposure_scores_df['Women_Earnings_as_Percentage_of_Men_Estimate']

# Add a constant to the independent variables to include an intercept in the model
X = sm.add_constant(X)

# Fit the regression model
model = sm.OLS(y, X).fit()

# Print the summary of the regression analysis
print(model.summary())

In [ ]:
import statsmodels.api as sm
import numpy as np

# Create interaction and polynomial terms for the model
occupation_exposure_scores_df['Women_Percentage_Squared'] = occupation_exposure_scores_df['Women_Percentage_in_Group_Estimate'] ** 2
occupation_exposure_scores_df['Exposure_Score_Squared'] = occupation_exposure_scores_df['Exposure Score * 100'] ** 2
occupation_exposure_scores_df['Women_Percentage_Exposure_Interaction'] = occupation_exposure_scores_df['Women_Percentage_in_Group_Estimate'] * occupation_exposure_scores_df['Exposure Score * 100']

# Define the independent variables, including interactions and polynomial terms
X = occupation_exposure_scores_df[['Women_Percentage_in_Group_Estimate', 'Exposure Score * 100', 'Women_Median_Earnings_Estimate', 
                                     'Women_Percentage_Squared', 'Exposure_Score_Squared', 
                                   'Women_Percentage_Exposure_Interaction']]

# Define the dependent variable (choose one, e.g., Women_Earnings_as_Percentage_of_Men_Estimate)
y = occupation_exposure_scores_df['Women_Earnings_as_Percentage_of_Men_Estimate']

# Add a constant term to include an intercept in the model
X = sm.add_constant(X)

# Fit the regression model
model = sm.OLS(y, X).fit()

# Print the summary of the regression analysis
print(model.summary())

In [ ]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

# Selecting relevant variables for VIF check
X_vif = occupation_exposure_scores_df[['Women_Percentage_in_Group_Estimate', 'Exposure Score * 100', 'Women_Median_Earnings_Estimate', 
                                       'Women_Earnings_as_Percentage_of_Men_Estimate', 'Women_Percentage_Squared', 
                                       'Exposure_Score_Squared', 'Women_Percentage_Exposure_Interaction']]

# Adding a constant for the intercept
X_vif = sm.add_constant(X_vif)

# Calculate VIF for each variable
vif_data = pd.DataFrame()
vif_data['Feature'] = X_vif.columns
vif_data['VIF'] = [variance_inflation_factor(X_vif.values, i) for i in range(X_vif.shape[1])]

print(vif_data)

In [ ]:
# Load the Excel file
file_path = '/Users/twylazhang/Desktop/Directed Research/gender distribution/2019_Occupations.xlsx'
occupations_df = pd.read_excel(file_path)

In [ ]:
occupations_df

In [ ]:
import pandas as pd

# Load your dataset
file_path = '/Users/twylazhang/Desktop/Directed Research/gender distribution/2019_Occupations.xlsx'
occupations_df = pd.read_excel(file_path)

# Extract the major group by taking the first two digits of the 'O*NET-SOC 2019 Code'
occupations_df['Major_Group'] = occupations_df['O*NET-SOC 2019 Code'].str[:2]

# Map major groups to descriptive names
major_group_mapping = {
    "11": "Management Occupations",
    "13": "Business and Financial Operations Occupations",
    "15": "Computer and Mathematical Occupations",
    "17": "Architecture and Engineering Occupations",
    "19": "Life, Physical, and Social Science Occupations",
    "21": "Community and Social Service Occupations",
    "23": "Legal Occupations",
    "25": "Education, Training, and Library Occupations",
    "27": "Arts, Design, Entertainment, Sports, and Media Occupations",
    "29": "Healthcare Practitioners and Technical Occupations",
    "31": "Healthcare Support Occupations",
    "33": "Protective Service Occupations",
    "35": "Food Preparation and Serving Related Occupations",
    "37": "Building and Grounds Cleaning and Maintenance Occupations",
    "39": "Personal Care and Service Occupations",
    "41": "Sales and Related Occupations",
    "43": "Office and Administrative Support Occupations",
    "45": "Farming, Fishing, and Forestry Occupations",
    "47": "Construction and Extraction Occupations",
    "49": "Installation, Maintenance, and Repair Occupations",
    "51": "Production Occupations",
    "53": "Transportation and Material Moving Occupations",
    "55": "Military Specific Occupations"
}

# Apply the mapping to create a descriptive major group column
occupations_df['Major_Group_Name'] = occupations_df['Major_Group'].map(major_group_mapping)

# Display the first few rows to confirm the grouping
print(occupations_df[['O*NET-SOC 2019 Code', 'Occupation Name', 'Major_Group', 'Major_Group_Name']].head())